ul  
    li| I have perpetually wanted to learn about cybersecurity from 
    a(href="Hackthissite.org") Hackthissite
    |
    li but I've mostly used youtube tutorials to get me through the challenges.
    |
    li It's like going on youtube to do leetcode problems. It's not terrible, but I eventually want to release the training wheels

    li So far I've learned that you can do a lot with the Console in Inspect Element 

    li Also, you can use server side scripting to inject code with anything you want. 
    | Some Apache websites allow you to have server side scripting for some reason, so this can be exploited.
    