ul 
    li Trying to play magic mirror mix (5b) in celeste. 

    li I have been trying to expand my range, but it is a bit difficult. Recording myself is hard, but I need some type of log. And also I bought a camera so why not.

    li Why is it so hard to skip measures in musescore 

    li Alright. Here's what I have for 01-09-2024 
    
    a(href='https://youtu.be/_I4NexcQOHY') Magic Mirror cover

